@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Web application created using ASP .Net Core </p>
    <p>Using a .NET dll, the logic to play TicTacToe has been implemented.</p>
    <p>the understanding of the technology is basic for thi purpose, therefore, as my knowledge reach this 
        technology allows me to create Server rendered applications. Under that constrain the application was created.

    </p>
</div>
